{% extends 'base.html' %}
{% block title %}
    Dog meeting
{% endblock %}
{% block content %}
    <h1>Dog</h1>
    <div class="card-deck">
    {% for dog in object_list %}
        <div class="card" style="max-width: 15rem;display: inline-block;">
            <img class="card-img-top" src="{{ dog.image.url }}" style="width: 15rem; height: 10rem">
            <div class="card-body">
                <h3>{{ dog.name }}</h3>
                {{ dog.breed }}<br>
                <a href="{% url 'dog-detail' dog.pk%}">Details</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}