{% extends 'base.html' %}
{% block title %}
    Activity
{% endblock %}
{% block content %}
    <h1>Activity</h1>
    {% for activity in object_list %}
        <div class="card" style="width: 40rem;margin-bottom: 1rem;">
            <div class="card-body">
                <h3>{{ activity.name }}</h3>
                {{ activity.location }} {{ activity.date }}
                <a href="{% url 'activity-detail' activity.pk%}">Details</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}