{% extends 'base.html' %}
{% block title %}
    Add Breed
{% endblock %}
{% block content %}
    <h1>Add Dog Breed</h1>
    {% if user.is_authenticated %}
        {% if user.id == 1 %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Add</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        </form>
        {% endif %}
    {% else %}
        <p>Sorry, you are not allow in this page!</p>
    {% endif %}
{% endblock %}